.error {
    background-color: tomato;
    color: crimson;
    font-size: larger;
    width: 100%;
}

@keyframes spin {
    to {transform:rotate(360deg);}
}

.spin {
    animation: spin 300ms linear infinite;
    font-size: 5em;
}

.fact {
    margin: 10px;
    padding: 5px;
    background-color: aquamarine;
    border: 5px darkcyan;
}

.fact:hover{
    background-color: darkcyan;
}